---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import Paginator from "../../components/Paginator.astro";
import IssueList from "../../components/IssueList.astro";
import Main from "../../layouts/Main.astro";

export const prerender = true;

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const issueCollection = await getCollection("issues");

	const archivePages = issueCollection.sort((a, b) =>
		dayjs(b.data.publishDate).diff(a.data.publishDate)
	);

	return paginate(archivePages, { pageSize: 6 });
}

interface Props {
	page: Page;
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
console.log(page.data[0].title);
---

<Main
	title="Blog"
	description="The archive of my blog issues."
	lumine={{ rotate: "20deg", top: "30vh" }}
>
	<div class="p-4">
		<IssueList page={page} />
	</div>
	<Paginator page={page} />
</Main>
