---
import GuidePrevNext from "../../components/GuidePrevNext.astro";
import { LoadingIndicator } from "../../components/LoadingIndicator";
import TechLiteracySelector from "../../components/TechLiteracySelector";
import Guide from "../../layouts/Guide.astro";
---

<Guide frontmatter={{ title: "Where are you at?" }}>
	<p>
		Before we continue, I'm going to need an idea of how familiar you are
		with digital technology. What tools work for you will vary depending on
		your level of tech literacy, and I want to make sure I'm not tossing
		anything at you that you're not ready for. Select the level of tech
		literacy that best applies to you:
	</p>
	<TechLiteracySelector client:only className="mb-4 text-sm md:text-md">
		<div slot="fallback" class="flex justify-center items-center h-48">
			<LoadingIndicator />
		</div>
	</TechLiteracySelector>
	<p>
		Your answer will be saved in your web browser to help tailor the guide
		to your level of technical expertise. If you want to change your answer
		later, you can do so by coming back to this part of the guide.
	</p>
	<p>
		After you've answered that question, we can move on to talking about
		<i>the technology</i>.
	</p>
	<GuidePrevNext />
</Guide>
