---
import Main from "../layouts/Main.astro";

---

<Main title="404" description="Page not found.">
	<div class="w-full h-full">
		<h1 class="m-auto text-center p-8 text-2xl font-bold">404</h1>
		<p class="m-auto text-center">Sorry! Couldn't find the page you were looking for.</p>
	</div>
</Main>