---
import { getCollection } from "astro:content";
import DatabaseView from "../components/DatabaseView.astro";
import Main from "../layouts/Main.astro";

const allRecommendations = await getCollection("recommendations");

---

<Main
	title="Home"
	description="Bringing you the best kept secrets of the indie web."
>
	<div
		class="flex flex-col items-center bg-bgColor border border-textColor max-w-4xl mx-auto p-4"
	>
		<p class="text-sm text-center mb-4">See our full list of recommendations for websites, social networks, software, and more.</p>
		<DatabaseView title="Recommendations" entries={allRecommendations} />
	</div>
</Main>
