---
import DatabaseView from "../components/DatabaseView.astro";
import TotalEntries from "../components/TotalEntries.astro";
import Main from "../layouts/Main.astro";
---

<Main
	title="Home"
	description="The definitive guide for escaping social media (and joining the indie web.)"
>
	<div
		class="flex flex-col items-center bg-bgColor border border-textColor max-w-4xl mx-auto p-4"
	>
		<p class="text-sm text-center mb-4">
			See our full list of over <TotalEntries /> recommendations for newsletters,
			social networks, digital tools, and more.
		</p>
		<DatabaseView title="Recommendations" />
		<blockquote class="text-center mb-4">
			Note: "Free" and "Paid" are referring to the cost of the site's
			content or software - not necessarily things like tickets for IRL
			events, organization dues, or other non-digital costs.
		</blockquote>
		<p class="text-sm text-center mb-4">
			Do you know of a website, application, or organization we should add
			here, or do you see something here that's inaccurate / out of date?
			Let me know at <a href="mailto:unplatform@fromthesuperhighway.com"
				>unplatform@fromthesuperhighway.com</a
			>!
		</p>
	</div>
</Main>
