---
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";

---

<Main
	title="Home"
	description="The definitive guide for escaping social media (and joining the indie web.)"
>
	<div class="flex flex-col items-center">
		<Hero/>
		<About />
	</div>
</Main>
