---
import Main from "../layouts/Main.astro";
---

<Main
	title="Home"
	description="Bringing you the best kept secrets of the indie web."
>
	<div class="flex flex-col items-center">
		<p>mission</p>
	</div>
</Main>
