---
import ReactComponent, { type DatabaseViewProps } from "./DatabaseView.tsx";
import { LoadingIndicator } from "./LoadingIndicator";
type Props = DatabaseViewProps;
const props = Astro.props;

---

<ReactComponent {...props} client:only>
	<div slot="fallback" class="flex justify-center items-center h-[26rem]">
		<LoadingIndicator />
	</div>
</ReactComponent>
