---
import patreon from "../assets/img/patreon.svg?raw";
import Icon from "./Icon.astro";
---

<a
	aria-label="A link to the From The Superhighway Patreon page."
	href="https://patreon.com/FalchionStudios"
	class="animate-shimmer flex bg-accentColor uppercase gap-2 items-center py-3 w-64 justify-center"
>
	<Icon content={patreon} class={"w-4"} />
	<p class="text-sm">Support us on Patreon!</p>
</a>
