---
import Prompt from "./Prompt.astro";
import WebringWidget from "./WebringWidget.astro";
---

<footer class="text-sm flex flex-col w-full items-center p-4 gap-4">
	<WebringWidget />
	<div class="flex flex-col text-center gap-1">
		<p>
			<a href="/" class="font-bold text-accentColor no-underline"
				><Prompt />UNPLATFORM</a
			> is a <a href="https://falchionstudios.com/" class="text-accentColor"
				>Falchion Studios</a
			> project.
		</p>
		<p class="text-xs">Check out the affiliated newsletter, <a href="https://fromthesuperhighway.com" class="no-underline uppercase text-[#f1b5ea] font-bold"><Prompt/>From The Superhighway</a>.</p>
	</div>
	<span class="text-xs"
		>© Falchion Studios {new Date(Date.now()).getFullYear()}</span
	>
	<!-- <Image
    src={gatorGuy}
    format={"webp"}
    quality={"low"}
    alt={"Clip art of an alligator wearing sunglasses."}
    class={"h-24 w-32 ml-8 object-right-bottom object-cover transition-all cursor-grab active:-translate-x-64 active:cursor-grabbing"}
  /> -->
</footer>
