<div
	id="GDPR"
	class="fixed bottom-8 left-0 right-0 p-4 bg-bg border border-text flex-col justify-between items-center hidden max-w-4xl mx-auto flex-wrap gap-4 md:flex-row"
>
	<p class="min-w-2/3 flex-1">
		Hey - the Unplatform guide needs to use a few cookies in order to work
		properly. No data leaves your computer at any point, and it's purely for
		your benefit.
	</p>
	<button
		id="GDPR-dismiss"
		class="bg-accent text-bg p-2 hover:brightness-125 whitespace-nowrap mx-auto"
		>{">:"} Alrighty.</button
	>
</div>

<script lang="js">
	const banner = document.getElementById("GDPR");
	const dismiss = document.getElementById("GDPR-dismiss");
	const GDPRConfirmed = localStorage.getItem("GDPR-check");
	if (!GDPRConfirmed) {
		banner.style.display = "flex";
	}

	dismiss.addEventListener("pointerdown", () => {
		localStorage.setItem("GDPR-check", "complete");
		banner.remove();
	});
</script>
