---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;
const { class: className, ...props } = Astro.props;
---

<div class:list={["w-full flex justify-center gap-4", className]}>
	<a
		id="prev"
		class:list={[
			"block p-4 py-2 bg-accentColor text-bgColor prompt w-min whitespace-nowrap",
			className,
		]}
		{...props}
	>
		{":<"} Prev
	</a>
	<a
		id="next"
		class:list={[
			"block p-4 py-2 bg-accentColor text-bgColor prompt w-min whitespace-nowrap",
			className,
		]}
		{...props}
	>
		Next {">:"}
	</a>
</div>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		// TODO: change to a more durable method
		const pathSegment = window.location.pathname.split("/");
		let lastSegment = pathSegment.pop();
		
		if (lastSegment === "") {
			lastSegment = pathSegment.pop();
		}

		if (!lastSegment) {
			throw new Error("Could not parse last url segment.")
		}
		const currentPage = parseInt(lastSegment);
		const prev = document.getElementById("prev");
		const next = document.getElementById("next");

		if (!prev || !next) {
			throw new Error("Couldn't load pagination buttons.");
		}
		prev.setAttribute(
			"href",
			"/guide/" + Math.max(0, currentPage - 1).toString()
		);
		next.setAttribute(
			"href",
			"/guide/" + Math.max(0, currentPage + 1).toString()
		);
	});
</script>
