---
import type { RemoteImageProps } from "astro/assets";
import type { HTMLAttributes } from "astro/types";
import type { LocalImageProps } from "astro:assets";
type Wrapper = HTMLAttributes<"div"> & HTMLAttributes<"svg">;
interface Props extends Wrapper {
	content: string;
}
const { content, ...props } = Astro.props;
---

<div {...props}>
	<Fragment set:html={content} />
</div>
