---
import type { HTMLAttributes } from "astro/types";
type Wrapper = HTMLAttributes<"div"> & HTMLAttributes<"svg">;
interface Props extends Wrapper {
	content: string;
}
const { content, ...props } = Astro.props;
---

<div {...props}>
	<Fragment set:html={content} />
</div>
