---
import { map } from "zod";

// TODO: wow i can't believe the highlight still works 

export interface LumineTextProps {
  rotate: string;
  top: string;
  text: string;
}

type Props = LumineTextProps;
const { rotate, top, text } = Astro.props;
---

<div
  class="absolute flex justify-between text-nowrap animate-lumine select-none origin-top-left"
  style={{ rotate, top }}
>
  {
    [...Array(40)].map(() => (
      <div class="bg-accentColor text-5xl border-r-4 border-dotted border-white p-6 gap-4 flex justify-around items-center">
        {text
          .split(" ")[0]
          .split("")
          .map((char) => (
            <span>{char}</span>
          ))}
      </div>
    ))
  }
</div>
