---
import { Image } from "astro:assets";
import { globalNavPages } from "../config";
import Prompt from "./Prompt.astro";
import Subscribe from "./Subscribe.astro";
import { Icon } from "astro-icon/components";
import patreon from "../assets/img/patreon.svg?raw";
import PatreonIcon from "./Icon.astro";
// TODO: allow for disabling transparency
const currentRoute = Astro.url.pathname;
---

<header
	class="flex justify-between items-center transition-all h-16 top-0 w-full px-4 md:px-8 border-b-text-color border-b sticky z-20 bg-bgColor data-[prev-scroll=up]:-top-16"
	data-prev-scroll="up"
>
	<a
		href="/"
		class="text-md md:text-lg hover:text-accentColor font-bold uppercase"
	>
		<span class="hidden sm:block"><Prompt />{`Unplatform`}</span>
		<span class="block sm:hidden"><Prompt />{`FTS`}</span>
	</a>
	<nav
		class="flex flex-1 text-sm gap-2 md:gap-4 justify-end p-4 items-center md:text-lg uppercase font-header"
	>
		<!-- <a href="/archive/1" class="p-1">
			Issues
		</a> -->
		<a href="">Guide</a>
		<a href="">Database</a>
		<a href="">Library</a>
		<a href="">Mission</a>
		<a href="https://patreon.com/FalchionStudios" class="p-1">
			<PatreonIcon content={patreon} class={"w-4 text-inherit"} />
		</a>
		<a href="/rss.xml" class="p-1">
			<Icon name={"feather:rss"} class={"text-inherit"} size={24} />
		</a>
	</nav>
</header>

<script>
	let lastScrollPosition = window.scrollY;
	let getViewportHeight = () => window.innerHeight;
	let locked = false;
	function updatePrevScroll(override?: "up" | "down") {
		const header = document.querySelector("header");
		if (!header) {
			throw new Error("Couldn't find the header element.");
		}
		const newScrollPosition = window.scrollY;

		let newData: "up" | "down";
		if (window.scrollY < 250) {
			newData = "up";
		} else if (lastScrollPosition > newScrollPosition) {
			newData = "down";
		} else {
			newData = "up";
		}

		lastScrollPosition = newScrollPosition;
		header.dataset["prevScroll"] = newData;
		// header.style.backgroundColor = `rgba(248, 248, 255, ${lastScrollPosition / getViewportHeight()}`;
	}
	//   for (const element of document.getElementsByClassName("nav-link")) {
	//     element.addEventListener("click", () => updatePrevScroll("down"));
	//   }

	window.addEventListener("scroll", () => {
		// console.log("firing event");
		updatePrevScroll();
	});
</script>
