---
import type { HTMLAttributes } from "astro/types";
import { getDateString } from "../utils/dates";
import ArchiveButton from "./ArchiveButton.astro";
import type { CollectionEntry } from "astro:content";
type IssueEntry = CollectionEntry<"issues">;

interface Props extends HTMLAttributes<"div"> {
	issues: CollectionEntry<"issues">[];
}

const       { class: className, issues, ...props } = Astro.props;
---

<div
	class={[
		"min-w-72 flex flex-col justify-evenly gap-4 border p-4",
		className,
	].join(" ")}
>
	<h1 class="font-bold text-xl text-center">Previous Issues</h1>
	{
		issues.slice(0, 3).map((issue: IssueEntry) => (
			<a href={`/issues/${issue.slug}`} class="border-b pb-2">    
				<article class="flex-1">
					<div class="text-lg">
						<span class="font-bold block">
							{getDateString(issue.data.publishDate)}
						</span>
						{issue.data.title}
					</div>
					<div>{issue.data.description}</div>
				</article>
			</a>
		))
	}
	{issues.length === 0 && <p class="text-center">None yet.</p>}
	<ArchiveButton showPrompt class:list={"mx-auto px-2 py-1"} />
</div>
