---
import { getCollection } from "astro:content";
interface Props {
	round?: boolean;
}
const amount =
	(await getCollection("recommendations")).length +
	(await getCollection("library")).length;

const { round } = Astro.props;
---

<span>{round ? Math.floor(amount / 100) * 100 : amount}</span>
