<div
	id="webring-container"
	class="w-60 h-20 bg-accent opacity-0"
	transition:persist
>
	<iframe id="fts-webring" width="240" height="80"></iframe>
</div>

<style>
	.fade-in {
		animation: fade-in 1s ease-in forwards;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
</style>
<script>
	const container = document.getElementById(
		"webring-container"
	) as HTMLIFrameElement;
	const webring = document.getElementById("fts-webring") as HTMLIFrameElement;
	document.addEventListener("DOMContentLoaded", () => {
		const bgColor =
			getComputedStyle(webring).getPropertyValue("--bg-color");
		const textColor =
			getComputedStyle(webring).getPropertyValue("--accent-color");
		webring.src = `https://fromthesuperhighway.com/webring/source?bg-color=${bgColor}&text-color=${textColor}`;
	});

	webring.addEventListener("load", () => {
		container.classList.add("fade-in");
	});
</script>
