---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import BackToTop from "../components/BackToTop.astro";
import Divider from "../components/Divider.astro";
import Tags from "../components/Tags.astro";
import ArticleImage from "../components/article/ArticleImage.astro";
import Main from "./Main.astro";
import { render } from "astro:content";
import Prompt from "../components/Prompt.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { data } = post as CollectionEntry<"posts">;
const { Content } = await render(post);
---

<Main
	title={post.data.title}
	description="The definitive guide for escaping social media (and joining the indie web.)"
>
	<div class="flex flex-wrap justify-center">
		<article
			class="drop-shadow-colored flex flex-col items-center p-4 w-full md:p-8 bg-bg border max-w-4xl overflow-hidden"
		>
			<div class="my-4 w-full">
				<h1 class="text-3xl leading-snug font-bold font-header mb-2">
					{data.title}
				</h1>
				<span class="flex py-2 gap-3 sm:gap-4 italic">
					<h4>
						{
							dayjs(data.dateAdded)
								// .add(1, "day")
								.format("MMM DD YYYY")
						}
					</h4>
					<div class="border-l border-l-textColor"></div>
					<h4><Tags show={5} tags={data.tags ?? []} /></h4>
				</span>
				<h3 class="text-lg mt-2 font-header">{data.lede}</h3>
			</div>
			<Divider class="w-full mb-4 border-b-2 border-b-textColor" />
			<div id="post-body" class="w-full break-words">
				<Content />
			</div>
			<a class="m-auto" href="/posts"
				><button
					class="text-md font-header py-2 px-4 bg-accent text-bg hover:brightness-110 cursor-pointer select-none transition-all text-textColor"
					><Prompt />Back to Posts</button
				></a
			>
		</article>
	</div>
	<!-- <BackToTop /> -->
</Main>

<style lang="scss" is:global>
	#post-body {
		& > h1 {
			font-size: 2rem;
		}
		& > h2 {
			font-size: 1.5rem;
		}
		& > h3 {
			font-size: 1.2rem;
		}

		& > h6 {
			font-size: 0.8rem;
		}

		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			color: var(--header-color);
			font-weight: bold;
		}

		& > h1,
		& > h2,
		& > h3 {
			font-family: var(--header-font);
		}

		& > h1,
		& > h2 {
			margin-bottom: 1rem;
		}

		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			margin-bottom: 0.5rem;
		}

		& > p {
			margin-bottom: 1.5rem;
			line-height: 1.6rem;
		}

		& > ol,
		& > ul {
			margin-left: 2rem;
			margin-bottom: 1rem;
		}

		& > ol {
			list-style: decimal;
		}

		& > ul {
			list-style: circle;
		}

		& > img {
			max-height: 600px;
			width: 100%;
			object-fit: contain;
			margin: auto;
		}

		// image captions
		& > img + em {
			width: 100%;
			margin-top: 0.5rem;
			display: block;
			text-align: center;
		}

		& > hr {
			margin: 2rem 0;
		}

		& > blockquote {
			border-left: 1px solid var(--color-text);
			background-color: var(--color-fg);
			padding: 1rem;
			font-style: italic;
			margin-left: 1rem;
			margin-bottom: 2rem;
			margin-right: 1rem;
			p {
				margin-bottom: 0;
			}
		}

		& > p > a {
			color: var(--color-accent);
			text-decoration: underline;
			&:hover {
				filter: brightness(120%);
			}

			&:active {
				filter: brightness(150%);
			}
		}

		a > em {
			color: var(--color-accent);
		}
		pre.astro-code {
			/* background-color: var(--color-fg); */
			padding: 1rem;
			font-size: small;
			border-left: 5px solid var(--color-accent);
			margin: 1rem 0rem;
			white-space: pre-wrap; /* Since CSS 2.1 */
		}

		// iframe {
		// 	padding-top: 1rem;
		// 	padding-bottom: 1rem;
		// 	width: 100%;
		// 	margin: auto;
		// 	@media (min-width: 768px) {
		// 		min-height: 28rem;
		// 	}
		// }
	}
</style>
