---
import Main from "./Main.astro";

interface Props {
	frontmatter: {
		title: string;
	};
}
const { frontmatter } = Astro.props;
---

<Main
	title={frontmatter.title}
	description="The definitive guide for escaping social media (and joining the indie web.)"
>
	<div class="flex flex-wrap justify-center">
		<article
			class="flex flex-col items-center p-4 w-full md:p-8 bg-bgColor border max-w-4xl"
		>
			<div class="my-4 w-full">
				<h1 class="text-3xl leading-snug font-bold font-header mb-2">
					{frontmatter.title}
				</h1>
			</div>
			<div id="guide-body" class="w-full break-words">
				<slot />
			</div>
		</article>
	</div>
	<!-- <BackToTop /> -->
</Main>

<style lang="scss" is:global>
	#guide-body {
		& > h1 {
			font-size: 2rem;
		}
		& > h2 {
			font-size: 1.5rem;
		}
		& > h3 {
			font-size: 1.2rem;
		}

		& > h6 {
			font-size: 0.8rem;
		}

		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			color: var(--header-color);
			font-weight: bold;
		}

		& > h1,
		& > h2,
		& > h3 {
			font-family: var(--header-font);
		}

		& > h1,
		& > h2 {
			margin-bottom: 1rem;
		}

		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			margin-bottom: 0.5rem;
		}

		& > p {
			margin-bottom: 1.5rem;
			line-height: 1.6rem;
		}

		& > ol,
		& > ul {
			margin-left: 2rem;
			margin-bottom: 1rem;
		}

		& > ol {
			list-style: decimal;
		}

		& > ul {
			list-style: circle;
		}

		& > img {
			max-height: 600px;
			width: 100%;
			object-fit: contain;
			margin: auto;
		}

		// image captions
		& > img + em {
			width: 100%;
			margin-top: 0.5rem;
			display: block;
			text-align: center;
		}

		& > hr {
			margin: 2rem 0;
		}

		& > blockquote {
			border-left: 1px solid var(--text-color);
			background-color: var(--fg-color);
			padding: 1rem;
			font-style: italic;
			margin-left: 2rem;
			margin-bottom: 2rem;
			margin-right: 2rem;
			p {
				margin-bottom: 0;
			}
		}

		& > p > a {
			color: var(--accent-color);
			text-decoration: underline;
			&:hover {
				filter: brightness(120%);
			}

			&:active {
				filter: brightness(150%);
			}
		}

		a > em {
			color: var(--accent-color);
		}
		code {
			background-color: var(--fg-color);
			padding: 0.25rem;
			font-size: small;
		}
		// iframe {
		// 	padding-top: 1rem;
		// 	padding-bottom: 1rem;
		// 	width: 100%;
		// 	margin: auto;
		// 	@media (min-width: 768px) {
		// 		min-height: 28rem;
		// 	}
		// }
	}
</style>
