---
import BackToTop from "../components/BackToTop.astro";
import Footer from "../components/Footer.astro";
import GDPR from "../components/GDPR.astro";
import Navbar from "../components/Navbar.astro";
import TabTitle from "../components/TabTitle.astro";
import "./Main.css";

export interface Props {
	title: string;
	description?: string;
	class?: string;
}

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content={description ?? title} />
		<meta name="generator" content={Astro.generator} />
		<TabTitle title={title} />
		<link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Unplatform RSS feed"
			href={`${Astro.site}/rss.xml`}
		/>
		<!-- <ClientRouter /> -->
	</head>
	<body class={"bg-bgColor"}>
		<div
			class="fixed top-0 left-0 bg-grid-shift opacity-5 -z-10 select-none"
		>
		</div>
		<div class="min-h-screen flex flex-col justify-between" id="content">
			<Navbar type="fixed" />
			<main class="p-4">
				<slot />
			</main>
			<Footer />
			<BackToTop />
		</div>
		<GDPR />
	</body>
</html>
