---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "./Main.css";
import TabTitle from "../components/TabTitle.astro";
import LumineText, {
	type LumineTextProps,
} from "../components/LumineText.astro";
import BackToTop from "../components/BackToTop.astro";

export interface Props {
	title: string;
	description?: string;
	class?: string;
	lumine?: Omit<LumineTextProps, "text">;
}

const { title, description, class: className, lumine } = Astro.props;
---

<!doctype html>
<html lang="en">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content={description ?? title} />
	<meta name="generator" content={Astro.generator} />
	<TabTitle title={title} />
	<link rel="preconnect" href="https://fonts.googleapis.com/" />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="From The Superhighway"
		href={`${Astro.site}rss.xml`}
	/>
	<body class={"bg-bgColor"}>
		<div
			class="fixed top-0 left-0 bg-grid-shift opacity-5 -z-10 select-none"
		>
		</div>
		<div class="min-h-screen flex flex-col justify-between" id="content">
			<Navbar type="fixed" />
			<main class="p-4">
				<slot />
			</main>
			<Footer />
			<BackToTop />
		</div>
	</body>
</html>
